@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 36 33% 96%;
    --foreground: 220 18% 12%;
    --card: 36 33% 98%;
    --card-foreground: 220 18% 12%;
    --popover: 36 33% 98%;
    --popover-foreground: 220 18% 12%;
    --primary: 186 78% 34%;
    --primary-foreground: 0 0% 98%;
    --secondary: 34 38% 90%;
    --secondary-foreground: 220 18% 14%;
    --muted: 34 30% 92%;
    --muted-foreground: 220 10% 45%;
    --accent: 24 95% 56%;
    --accent-foreground: 24 20% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 24 20% 84%;
    --input: 24 20% 84%;
    --ring: 186 78% 34%;
    --chart-1: 186 70% 40%;
    --chart-2: 24 90% 55%;
    --chart-3: 220 35% 26%;
    --chart-4: 110 50% 40%;
    --chart-5: 45 80% 50%;
    --radius: 0.5rem;

    --sidebar-background: 220 10% 10%;
    --sidebar-foreground: 220 10% 90%;
    --sidebar-primary: 260 100% 60%;
    --sidebar-primary-foreground: 220 10% 98%;
    --sidebar-accent: 220 15% 18%;
    --sidebar-accent-foreground: 220 10% 98%;
    --sidebar-border: 220 10% 20%;
    --sidebar-ring: 260 100% 60%;
  }

  .dark {
    --background: 222 22% 9%;
    --foreground: 36 30% 96%;
    --card: 222 22% 13%;
    --card-foreground: 36 30% 96%;
    --popover: 222 22% 13%;
    --popover-foreground: 36 30% 96%;
    --primary: 184 78% 44%;
    --primary-foreground: 222 18% 10%;
    --secondary: 222 22% 18%;
    --secondary-foreground: 36 30% 96%;
    --muted: 222 22% 18%;
    --muted-foreground: 36 10% 70%;
    --accent: 24 95% 58%;
    --accent-foreground: 24 20% 10%;
    --destructive: 0 62.8% 50.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 222 22% 22%;
    --input: 222 22% 22%;
    --ring: 184 78% 44%;
    --chart-1: 184 70% 50%;
    --chart-2: 24 90% 55%;
    --chart-3: 36 50% 80%;
    --chart-4: 110 50% 45%;
    --chart-5: 45 80% 55%;

    --sidebar-background: 220 15% 10%;
    --sidebar-foreground: 220 10% 90%;
    --sidebar-primary: 260 100% 65%;
    --sidebar-primary-foreground: 220 10% 98%;
    --sidebar-accent: 220 15% 18%;
    --sidebar-accent-foreground: 220 10% 98%;
    --sidebar-border: 220 10% 20%;
    --sidebar-ring: 260 100% 65%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
